* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Helvetica", sans-serif;
    line-height: 1.2;
}

.main-wrapper {
    overflow: hidden;
}

.container {
    max-width: 960px;
    padding: 0 10px;
}

.header-block .logo-kovka {
    padding-top: 5px;
}

.header-block .logo-kovka .coloured-logo {
    width: 70px;
}

.header-block {
    background-color: #3e2424;
}

.header-block .navbar-my {
    background-color: #111010;
}

.header-block .navbar-my .my-nav-b-right > li > a {
    color: #fff;
}

.header-block .navbar-my .my-nav-b-right > li > a:hover {
    color: #b7b7b0;
}

.main-block {
    display: block;
}

.main-block .big-logo {
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.main-block .main-heading {
    font-size: 30px;
    text-align: center;
    color: #8e960b;
    margin-bottom: 20px;
}

.h-decoration:after {
    content: '';
    display: block;
    background-image: url(../img/h1-decoration-long.svg);
    background-repeat: no-repeat;
    height: 30px;
    background-size: contain;
    width: 200px;
    margin: 0 auto;
}

.main-block .top-descr {
    margin-bottom: 20px;
    color: #4c0414;
}

.main-block .tracery {
    background-image: url('../img/trasery.svg');
    background-repeat: repeat-x;
    height: 20px;
    background-size: contain;
}

.three-d-table, .about-me, .aur-works, .how-to-contact, .footer-block {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-block .about-me {
    background-color: #3e2424;
}

.about-me p {
    margin-bottom: 10px;
    color: #bcb2a1;
}

.h-in-section {
    text-align: center;
    font-size: 30px;
    color: #b97203;
    margin-bottom: 20px;
}

.aur-works .gallery-section {
    margin-bottom: 30px;
    text-align: center;
}

.aur-works .gallery-section h5 {
    font-size: 20px;
    color: #a2ab11;
    margin-bottom: 10px;
}

.three-d-table {
    background-color: #3e2424;
}

.aur-works .gallery-section a {
    display: inline-block;
    margin-bottom: 5px;
}

.aur-works .gallery-section a:hover {
    display: inline-block;
    border: 2px solid yellow;
}

.three-d-table .video-table {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.how-to-contact p {
    margin-bottom: 10px;
    color: #4c0414;
}

.footer-block {
    background-color: #3e2424;
    text-align: center;
}

.footer-block .my-nav-b-footer li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-block .my-nav-b-footer a {
    color: #fff;
    text-decoration: none;
}

.footer-block .my-nav-b-footer a:hover {
    text-decoration: underline;
}

.footer-block .logo-kovka {
    display: block;
    margin-bottom: 12px;
}

.footer-block .logo-kovka .logo-in-footer {
    width: 100px;
}

.form-item {
    margin-bottom:30px;
}

input {
    width:100%;
    height: 56px;
    border-radius: 8px;
    background-color: #5e5151;
    border: none;
    font-size: 16px;
    padding: 18px 20px;
    color: white;
}

input::placeholder {
    color: #e8b6b6;
}

input:active,
input:focus {
    color: #e8b6b6;
}

.submit-button {
    display:inline-block;
    padding:10px 20px;
    background-color:#e2da26;
    color:#000;
    border-radius:5px;
}

.auth-form {
    margin-bottom:30px;
}

.messageItem {
    background-color:yellow;
    color:#000;
    padding:15px;
    border-radius:10px;
    margin-top:15px;
    position:relative;
}

.messageItem .user{
    color:gray;
    display:inline-block;
    margin-bottom:10px;
}

.messageItem .messageText{
    margin-bottom:0;
}

#authentication-page-error-block {
    color:red;
}

.promotionBlock {
    color: red;
    margin-bottom: 15px;
}

.deleteMessageBlock {cursor: pointer; position:absolute; height:30px; width:30px; top:5px; right:5px;}
.deleteMessageBlock:before, .deleteMessageBlock:after {content: ""; top:12px; left:3px; position: absolute; width: 24px; height: 4px; background: gray;}
.deleteMessageBlock:before {transform: rotate(45deg);}
.deleteMessageBlock:after {transform: rotate(-45deg);}

